<?xml version="1.0"?>
<config>
	<modules>
		<Techtwo_Mailplus>
			<version>2.3.2</version>
			<subv>.0</subv>
		</Techtwo_Mailplus>
	</modules>

	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Techtwo_Mailplus after="Mage_Adminhtml">Techtwo_Mailplus</Techtwo_Mailplus>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>

	<adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mailplus>
                                            <title>Mailplus config section</title>
                                        </mailplus>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

	<frontend>
		<routers>
			<mailplus>
				<use>standard</use>
				<args>
					<module>Techtwo_Mailplus</module>
					<frontName>mailplus</frontName>
				</args>
			</mailplus>
			<mailplusfe>
				<use>standard</use>
				<args>
					<module>Techtwo_Mailplus</module>
					<frontName>mailplusfe</frontName>
				</args>
			</mailplusfe>
		</routers>
		<layout>
			<updates>
				<mailplus>
					<file>mailplus.xml</file>
				</mailplus>
			</updates>
		</layout>
		<events>
			<controller_front_send_response_before>
				<observers>
					<techtwo_mailplus_observer_customer>
						<class>Techtwo_Mailplus_Observer_Customer</class>
						<method>register_conversion</method>
					</techtwo_mailplus_observer_customer>
				</observers>
			</controller_front_send_response_before>
		</events>
	</frontend>

	<default>
		<!-- Set active on 0 by default since we have no id and password -->
		<mailplus>
			<general>
				<active>0</active>
			</general>
			<automailer>
				<enabled>0</enabled>
			</automailer>
			<advanced>
				<image_keep_frame>1</image_keep_frame>
			</advanced>
			<system>
				<last_synchronized>0</last_synchronized>
			</system>
			<debug>
				<log_enabled>0</log_enabled>
			</debug>
		</mailplus>
	</default>
	<global>
		<models>
			<newsletter>
				<rewrite>
					<subscriber>Techtwo_Mailplus_Model_Newsletter_Subscriber</subscriber>
				</rewrite>
			</newsletter>

			<mailplus>
				<class>Techtwo_Mailplus_Model</class>
				<resourceModel>mailplus_mysql4</resourceModel>
			</mailplus>
			<mailplus_mysql4>
				<class>Techtwo_Mailplus_Model_Mysql4</class>
				<entities>
					<info>
						<table>mailplus_info</table>
					</info>
					<user>
						<table>mailplus_user</table>
					</user>
					<restqueue>
						<table>mailplus_restqueue</table>
					</restqueue>
					<syncqueue>
						<table>mailplus_syncqueue</table>
					</syncqueue>
					<bounce>
						<table>mailplus_bounce</table>
					</bounce>
					<product>
						<table>mailplus_product</table>
					</product>
					<abandoned_campaign>
						<table>mailplus_abandoned_campaign</table>
					</abandoned_campaign>
				</entities>
			</mailplus_mysql4>
		</models>
		<resources>
			<mailplus_setup>
				<setup>
					<module>Techtwo_Mailplus</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</mailplus_setup>
			<mailplus_write>
				<connection>
					<use>core_write</use>
				</connection>
			</mailplus_write>
			<mailplus_read>
				<connection>
					<use>core_read</use>
				</connection>
			</mailplus_read>
		</resources>
		<blocks>
			<mailplus>
				<class>Techtwo_Mailplus_Block</class>
			</mailplus>
		</blocks>
		<helpers>
			<mailplus>
				<class>Techtwo_Mailplus_Helper</class>
			</mailplus>
		</helpers>
		<events>
			<newsletter_subscriber_save_after>
				<observers>
					<techtwo_mailplus_observer_customer>
						<type>singleton</type>
						<class>Techtwo_Mailplus_Observer_Customer</class>
						<method>synchronize_visitor</method>
					</techtwo_mailplus_observer_customer>
				</observers>
			</newsletter_subscriber_save_after>
			<newsletter_subscriber_delete_after>
				<observers>
					<techtwo_mailplus_observer_customer>
						<type>singleton</type>
						<class>Techtwo_Mailplus_Observer_Customer</class>
						<method>delete_visitor</method>
					</techtwo_mailplus_observer_customer>
				</observers>
			</newsletter_subscriber_delete_after>
			<customer_save_after>
				<observers>
					<techtwo_mailplus_observer_customer>
						<type>singleton</type>
						<class>Techtwo_Mailplus_Observer_Customer</class>
						<method>synchronize_customer</method>
					</techtwo_mailplus_observer_customer>
				</observers>
			</customer_save_after>
			<customer_delete_before>
				<observers>
					<techtwo_mailplus_observer_customer>
						<type>singleton</type>
						<class>Techtwo_Mailplus_Observer_Customer</class>
						<method>delete_customer</method>
					</techtwo_mailplus_observer_customer>
				</observers>
			</customer_delete_before>
			<controller_action_postdispatch_customer_account_loginPost>
				<observers>
					<techtwo_mailplus_observer_customer>
						<type>singleton</type>
						<class>Techtwo_Mailplus_Observer_Customer</class>
						<method>login_customer</method>
					</techtwo_mailplus_observer_customer>
				</observers>
			</controller_action_postdispatch_customer_account_loginPost>
			<!--customer_customer_authenticated -->
			<controller_action_postdispatch_customer_account_createpost>
				<observers>
					<techtwo_mailplus_observer_customer>
						<type>singleton</type>
						<class>Techtwo_Mailplus_Observer_Customer</class>
						<method>register_customer</method>
					</techtwo_mailplus_observer_customer>
				</observers>
			</controller_action_postdispatch_customer_account_createpost>
			<controller_action_predispatch_adminhtml_system_config_edit>
				<observers>
					<techtwo_mailplus_observer_config>
						<type>singleton</type>
						<class>Techtwo_Mailplus_Observer_Config</class>
						<method>newsletter_warning</method>
					</techtwo_mailplus_observer_config>
				</observers>
			</controller_action_predispatch_adminhtml_system_config_edit>
			<catalog_product_save_after>
				<observers>
					<techtwo_mailplus_observer_product>
						<type>singleton</type>
						<class>Techtwo_Mailplus_Observer_Product</class>
						<method>synchronize_product</method>
					</techtwo_mailplus_observer_product>
				</observers>
			</catalog_product_save_after>
			<catalog_product_delete_before>
				<observers>
					<techtwo_mailplus_observer_product>
						<type>singleton</type>
						<class>Techtwo_Mailplus_Observer_Product</class>
						<method>delete_product</method>
					</techtwo_mailplus_observer_product>
				</observers>
			</catalog_product_delete_before>
			<checkout_cart_add_product_complete>
				<observers>
					<techtwo_mailplus_observer_customer_conversion>
						<type>singleton</type>
						<class>Techtwo_Mailplus_Observer_Customer</class>
						<method>register_conversion_mailplus</method>
					</techtwo_mailplus_observer_customer_conversion>
				</observers>
			</checkout_cart_add_product_complete>
			<!-- on error controller_action_postdispatch_cms_index_noRoute -->
			<sales_order_place_after>
				<observers>
					<techtwo_mailplus_observer_customer>
						<type>singleton</type>
						<class>Techtwo_Mailplus_Observer_Customer</class>
						<method>create_conversion</method>
					</techtwo_mailplus_observer_customer>
				</observers>
			</sales_order_place_after>
			<sales_order_save_after>
				<observers>
					<techtwo_mailplus_observer_sales_order_save_after>
						<type>singleton</type>
						<class>Techtwo_Mailplus_Observer_Customer</class>
						<method>apply_sales_order_campaign</method>
					</techtwo_mailplus_observer_sales_order_save_after>
				</observers>
			</sales_order_save_after>
			<review_save_before>
				<observers>
					<techtwo_mailplus_review_review_after_save>
						<type>singleton</type>
						<class>Techtwo_Mailplus_Observer_Product</class>
						<method>apply_review_value</method>
					</techtwo_mailplus_review_review_after_save>
				</observers>
			</review_save_before>
		</events>
	</global>
	<crontab>
		<jobs>
			<mailplus_daily_queue>
				<schedule>
					<cron_expr>0 * * * *</cron_expr>
				</schedule>
				<run>
					<model>mailplus/cron_hourly::run</model>
				</run>
			</mailplus_daily_queue>

			<mailplus_often_cron>
				<schedule>
					<cron_expr>*/5 * * * *</cron_expr>
				</schedule>
				<run>
					<model>mailplus/cron_often::run</model>
				</run>
			</mailplus_often_cron>
		</jobs>
	</crontab>
	<mailplus>
		<in_test_mode>0</in_test_mode>

		<!-- used in test mode -->
		<wsdl_test>https://test.mailplus.nl/ApiService/soap/{TYPE}?wsdl
		</wsdl_test>
		<rest_test>https://test.mailplus.nl</rest_test>
		<rest_base_test>/integrationservice</rest_base_test>

		<!-- used not in test mode -->
		<rest>https://restapi.mailplus.nl</rest>
		<rest_base>/integrationservice-1.1.0</rest_base>
		<!-- END -->


		<server_timezone>Europe/Amsterdam</server_timezone>
		<id_prefix>LIVE_</id_prefix>

		<!-- rest test url | https://test.mailplus.nl live url | https://restapi.mailplus.nl 
			wsdl test url | https://test.mailplus.nl/ApiService/soap/Contacts_v2?wsdl 
			live url | http://api.mailplus.nl/ApiService/soap/{TYPE}?wsdl -->
	</mailplus>
</config>
