<?xml version="1.0"?>
<config>
	<tabs>
		<mailplus translate="label" module="mailplus">
			<label>MailPlus</label>
			<sort_order>100</sort_order>
		</mailplus>
	</tabs>
	<sections>
		<mailplus translate="label">
			<label>MailPlus Configuration</label>
			<!--
			<class>mailplus-section</class>
			<header_css>mailplus-header</header_css>
			-->
			<tab>mailplus</tab>
			<sort_order>200</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<general translate="label comment" module="mailplus">
					<comment><![CDATA[<p>Druk op opslaan na het wijzigen van de <a href="http://www.mailplus.nl/" target="_blank">MailPlus</a>-instellingen.</p>]]></comment>
					<label>General</label>
					<frontend_type>text</frontend_type>
					<sort_order>20</sort_order>
					<expanded>1</expanded><!-- This must be set, so expand by default -->
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<active translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</active>
						<rest_consumer_key>
							<label>Consumer key</label>
							<frontend_type>text</frontend_type>
							<sort_order>40</sort_order>
							<show_in_default>0</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>You will find the key in your MailPlus-account at MailPlus Settings</comment>
						</rest_consumer_key>
						<rest_secret>
							<label>Consumer secret</label>
							<frontend_type>text</frontend_type>
							<sort_order>50</sort_order>
							<show_in_default>0</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>You will find the secret in your MailPlus-account at MailPlus Settings</comment>
						</rest_secret>
						<synchronize>
							<label>Synchroniseren van</label>
							<frontend_type>select</frontend_type>
							<source_model>mailplus/system_config_source_synchronize</source_model>
							<sort_order>70</sort_order>
							<show_in_default>0</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</synchronize>
					</fields>
				</general>
				<syncsettings translate="label">
					<label>Sync settings</label>
					<frontend_type>text</frontend_type>
                                        <sort_order>30</sort_order>
                                        <expanded>1</expanded>
                                        <show_in_default>0</show_in_default>
                                        <show_in_website>1</show_in_website>
                                        <show_in_store>1</show_in_store>

					<fields>
						<productspecs>
							<label>Product specificaties</label>
							<frontend_type>select</frontend_type>
                                                        <source_model>mailplus/system_config_source_product_specs</source_model>
                                                        <sort_order>75</sort_order>
                                                        <show_in_default>0</show_in_default>
                                                        <show_in_website>1</show_in_website>
                                                        <show_in_store>0</show_in_store>
						</productspecs>
					</fields>
				</syncsettings>
				<campaign translate="label comment" module="mailplus">
					<!-- <comment><![CDATA[<p>You can start a campaign on any newsletter subscription automatically. This allows you to confirm the subscriber by email.</p>]]></comment> -->
					<!-- translate comment isn't working -->
					<comment><![CDATA[<p>Hieronder kunt u de automatische campagnes van MailPlus instellen.</p>]]></comment>
					<label>MailPlus Campaigns</label>
					<frontend_type>text</frontend_type>
					<sort_order>40</sort_order>
					<expanded>1</expanded><!-- This must be set, so expand by default -->
					<show_in_default>0</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<newsletter translate="label comment">
							<label>Newsletter campaign</label>
							<!--<comment><![CDATA[<p>Automatically start a campaign on newsletter subscribe. You may use this to confirm the email.</p>]]></comment>-->
							<frontend_type>select</frontend_type>
							<source_model>mailplus/system_config_source_campaign</source_model>
							<sort_order>10</sort_order>
							<show_in_default>0</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</newsletter>
						<abandoned_cart>
							<label>Abandoned cart campaign</label>
							<!--<comment><![CDATA[<p>Automatically start a campaign on newsletter subscribe. You may use this to confirm the email.</p>]]></comment>-->
							<frontend_type>select</frontend_type>
							<source_model>mailplus/system_config_source_campaign</source_model>
							<sort_order>20</sort_order>
							<show_in_default>0</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</abandoned_cart>
						<product_review>
							<label>Product review campaign</label>
							<!--<comment><![CDATA[<p>Automatically start a campaign on newsletter subscribe. You may use this to confirm the email.</p>]]></comment>-->
							<frontend_type>select</frontend_type>
							<source_model>mailplus/system_config_source_campaign</source_model>
							<sort_order>30</sort_order>
							<show_in_default>0</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</product_review>
					</fields>
				</campaign>
				<!-- automailer is temp off -->
				<automailer translate="label comment">
					<comment><![CDATA[<p>U heeft de mogelijkheid om de periodieke nieuwsbrief vanuit Magento te versturen. Dat betekent dat u niet hoeft in te loggen in <a href="http://www.mailplus.nl/" target="_blank">MailPlus</a>. De geselecteerde producten worden automatisch in de nieuwsbrief ingeladen. Uw nieuwsbrief-template in MailPlus moet hierop ingesteld zijn. Neem hiervoor contact op met uw MailPlus-partner.</p>]]></comment>
					<label>Send MailPlus newsletter from Magento</label>
					<frontend_type>text</frontend_type>
					<sort_order>50</sort_order>
					<expanded>1</expanded><!-- This must be set, so expand by default -->
					<show_in_default>0</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<enabled translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>0</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</enabled>
						<id translate="label comment">
							<label>MailPlus Automailer ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>0</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Your MailPlus Automailer Id for a periodic newsletter</comment>
						</id>
					</fields>
				</automailer>
				<advanced translate="label">
					<label>Advanced configuration</label>
					<sort_order>60</sort_order>
					<expanded>0</expanded>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<image_keep_frame>
							<label>Format images</label>
							<frontend_type>select</frontend_type>
							<source_model>mailplus/system_config_source_keepframe</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</image_keep_frame>
					</fields>
				</advanced>
				<debug translate="label comment">
					<label>Debug options</label>
					<!--<comment><![CDATA[<p>Debug options</p>]]></comment>-->
					<frontend_type>text</frontend_type>
					<sort_order>900</sort_order>
					<expanded>0</expanded>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<log_enabled translate="label">
							<label>Log</label>
							<frontend_type>select</frontend_type>
							<!--<source_model>adminhtml/system_config_source_yesno</source_model>-->
							<source_model>mailplus/system_config_source_yesno_default_no</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</log_enabled>
					</fields>
				</debug>
			</groups>
		</mailplus>
	</sections>
</config>
